<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat Rooms</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-3">
    <h2>Chat Rooms</h2>
    <ul class="list-group">
        <li class="list-group-item" th:each="room : ${chatRooms}">
            <a th:href="@{'/chat/' + ${room.name}}" th:text="${room.name}"></a>
        </li>
    </ul>
    <form th:action="@{/chat/create}" method="post" class="mt-3">
        <div class="form-group">
            <input type="text" class="form-control" name="roomName" placeholder="Enter room name">
        </div>
        <button type="submit" class="btn btn-primary">Create Room</button>
    </form>
</div>
</body>
</html>